.text-centered {
    text-align: center;
}

.banner {
    display: block;
    background-color: #e1e1d0;
    color: #000;
    font-size: 350%;
    font-family: helvetica;
    text-shadow: 1px 1px 3px #0033cc;
}

.icon {
    max-width: 50px;
}

.nav-links li a {
    display: block;
    background-color: #fff;
    color: #0033cc;
}

.container {
    border: 5px solid #0033cc;
    border-radius: 20px;
    margin: 0 auto;
    width: fit-content;
    background-color: #b3c6ff;
}

ul li {
    list-style-type: none;
}
.footer {
    display: block;
    padding: 10px 20px;
    color: #000;
    margin-top: 100px;
    font-size: 350%;
    font-family: cursive;
    text-shadow: 3px 2px 3px #fff;
    text-align: center;
}

.footer h2 {
    margin-top: 50px;
}

.info {
    display: block;
    background-color: #e1e1d0;
    color: #000;
    font-size: 200%;
    font-family: helvetica;
    text-shadow: 1px 1px 3px #0033cc;
}